%h1= @champion.name
%img{src: @champion.image_url,class:'champion-image'}
.champion-title
  = @champion.title


%ul
  -@champion.modes.each do |mode|
    %ul.collapsible{"data-collapsible" => "accordion"}
      %li
        .collapsible-header
          %h4= "Modo: #{mode.capitalize}"
        .collapsible-body.items-list
          %ul
            -@champion.load_items_for(mode).each do |item|
              %li
                %span.item-title=item.name
                %br
                = item.description
                =item.plaintext

